@font-face {
	font-family: 'AkkoPro-Bold';
	src: url('fonts/AkkoPro-Bold.eot');
	src: local('☺'), url('fonts/AkkoPro-Bold.woff') format('woff'), url('fonts/AkkoPro-Bold.ttf') format('truetype'), url('fonts/AkkoPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	color:#040404;
	text-decoration:none;
	-webkit-transition:color 0.5s, border-color 0.5s;
	-moz-transition:color 0.5s, border-color 0.5s;
	transition:color 0.5s, border-color 0.5s;
	outline:none;
}
a:after {
	-webkit-transition-property:inherit;
	-moz-transition-property:inherit;
	transition-property:inherit;
}
a:hover, a.active {
	color:#040404;
	-webkit-transition:color 0.2s, border-color 0.2s;
	-moz-transition:color 0.2s, border-color 0.2s;
	transition:color 0.2s, border-color 0.2s;
}
a:hover:after, a.active:after {
	-webkit-transition-property:inherit;
	-moz-transition-property:inherit;
	transition-property:inherit;
}

.menu-top-menu-container span.plus { display:none;}

header.global.desktop h2 {
    display: inline-block;
    text-indent: -1e+8px;
}

span.toggle {
	width:30px;
}
span.toggle span {
	display:inline-block;
	width:30px;
	height:25px;
	position:relative;
	cursor:pointer;
	vertical-align:middle;
}
span.toggle span em {
	display:block;
	background:#fff;
	position:absolute;
	top:10px;
	left:0;
	width:100%;
	height:4px;
	border-radius:2px;
	-webkit-transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s;
	-moz-transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s;
	transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s;
	-webkit-transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s;
	-moz-transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s;
	transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s;
	-webkit-transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s;
	-moz-transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s;
	transition:top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s;
}
span.toggle span em:first-child {
	top:0px;
}
span.toggle span em:last-child {
	top:20px;
}
span.toggle span:hover em {
	background:#fff;
	-webkit-transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s, background 0.5s;
	-moz-transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s, background 0.5s;
	transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s, background 0.5s;
	-webkit-transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s, background 0.5s;
	-moz-transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s, background 0.5s;
	transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s, background 0.5s;
	-webkit-transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s, background 0.5s;
	-moz-transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s, background 0.5s;
	transition:background 0.2s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s, background 0.5s;
}
header.section, header.global.desktop {
	height:75px;
	width:100%;
}
header.section a.logo, header.global.desktop a.logo {
	display:inline-block;
	position:absolute;
	left:15;
}


header.section nav ul>li, header.global.desktop nav ul>li {
	opacity:0;
	top:-15px;
	-webkit-transition:opacity 0.5s, top 0.5s;
	-moz-transition:opacity 0.5s, top 0.5s;
	transition:opacity 0.5s, top 0.5s;
}
header.section nav ul>li:nth-child(6), header.global.desktop nav ul>li:nth-child(6) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.section nav ul>li:nth-child(5), header.global.desktop nav ul>li:nth-child(5) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.section nav ul>li:nth-child(4), header.global.desktop nav ul>li:nth-child(4) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.section nav ul>li:nth-child(3), header.global.desktop nav ul>li:nth-child(3) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.section nav ul>li:nth-child(2), header.global.desktop nav ul>li:nth-child(2) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.section nav ul>li:nth-child(1), header.global.desktop nav ul>li:nth-child(1) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.section nav ul>li:nth-child(0), header.global.desktop nav ul>li:nth-child(0) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.desktop .wrapper {

}
header.global.desktop .wrapper>nav {
	display:inline-block;
	font-size:13px;
}
header.global.desktop .wrapper>nav ul{ margin:0;}
header.global.desktop .wrapper>nav li {
	display:none;
	vertical-align:middle;
	line-height:75px; text-align:left;
	position:relative;font-size:13px;
}
@media (min-width: 1139px) {
	
	header.global.desktop .wrapper>nav li {
	display:inline-block;
	}
}
header.global .wrapper>nav li a, 
header.global .wrapper>nav li strong {
	display:block;
	padding:0 22px;
	text-decoration:none;
	color:#040404;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:1.4px;border:none;
}
header.global .wrapper>nav li a svg {  display:none; }
header.global .wrapper>nav li a:hover, 
header.global .wrapper>nav li a.active, 
header.global .wrapper>nav li strong:hover, 
header.global .wrapper>nav li strong.active{
	color:#e3e3e3;
}

header.global.desktop.active nav ul>li {border:none;
	opacity:1;
	top:0;
}
header.global.desktop nav ul>li.menu-item-has-children > a:after  {  content:"\e825"; position:absolute;  color:#fff; font-family: "revicons"; right:4px; top:2px;  font-size:13px; 
 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

header.global .wrapper>nav ul > li.menu-item-has-children > ul{  display:none;box-shadow:0 3px 4px rgba(0, 0, 0, 0.3); position:absolute; background:rgba(0, 0, 0, 0.9) none repeat scroll 0 0 !important; padding-bottom:16px; border-radius:0 0 4px 4px; z-index:11; line-height:24px; width:200px; border:none; }
header.global .wrapper>nav ul > li.menu-item-has-children:hover > ul{display:block;}

header.global.desktop nav ul>li.menu-item-has-children > ul > li.menu-item-has-children > a:after  {  content:"\e825"; position:absolute;  color:#fff; font-family: "revicons"; right:20px; top:7px;  font-size:13px; 
 -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

header.global .wrapper>nav ul > li.menu-item-has-children > ul > li { line-height:24px; white-space: nowrap; display:block!important; border:none; }
header.global .wrapper>nav ul > li.menu-item-has-children > ul > li > a{ display:block; line-height:24px; padding:8px 24px; font-size:13px;border:none; }
header.global .wrapper>nav ul > li.menu-item-has-children > ul > li > a:hover{ display:block; line-height:24px; padding:8px 24px; background:#595959;  }
header.global .wrapper>nav ul > li.menu-item-has-children > ul > li > ul{ left:200px; top:0; width:266px;}



header.global.desktop.active nav ul>li:nth-child(0) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.desktop.active nav ul>li:nth-child(1) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.desktop.active nav ul>li:nth-child(2) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.desktop.active nav ul>li:nth-child(3) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.desktop.active nav ul>li:nth-child(4) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.desktop.active nav ul>li:nth-child(5) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.desktop.active nav ul>li:nth-child(6) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.desktop.active nav ul>li:nth-child(7) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}

header.global .toggle {
	position:relative;
	height:25px;
	overflow:hidden;
}
header.global .logo-white {
	position:absolute;
	left:5px; display:none;
	width:106px;
	height:44px;
	background:transparent;
	line-height:44px;
	overflow:hidden;
	opacity:1;
	z-index:2;
	-webkit-transition:height 0.2s, color 0.5s;
	-moz-transition:height 0.2s, color 0.5s;
	transition:height 0.2s, color 0.5s;
	height:44px;
	top:14px;
	left:25px;
}

header.global .toggle {
	position:absolute;
	right:15px;
	top:13px;
}
@media (min-width: 639px) {
header.global .toggle {
right:30px;
top:25px;
}
}
@media (min-width: 1054px) {
header.global .toggle {
right:30px;
}
}
header.global .mask {
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
	z-index:1; font-size:44px; color:#ff5000; font-family: 'AkkoPro-Bold';
}
header.global .fg, header.global .bg {
	height:100%;
	width:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
header.global .fg {
	position:absolute;
}
header.global .bg {
	position:absolute;
	z-index:0;
}
header.global.desktop {
	display:none;
}
header.global.desktop>* {
	top:0;
	opacity:0;
}
header.global.desktop.show {
	display:block;
}
header.global.desktop.show>* {
	position:relative;
	top:-11px;
	opacity:0!important;
	-webkit-transition:opacity 0.5s, top 0.5s;
	-moz-transition:opacity 0.5s, top 0.5s;
	transition:opacity 0.5s, top 0.5s;
}
header.global.desktop.show>*:nth-child(0) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.desktop.show>*:nth-child(1) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.desktop.show>*:nth-child(2) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.desktop.show.in-view>* {
	top:0;
	opacity:1!important;
	-webkit-transition:opacity 0.5s, top 0.5s;
	-moz-transition:opacity 0.5s, top 0.5s;
	transition:opacity 0.5s, top 0.5s;
}
header.global.desktop.show.in-view>*:nth-child(2) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.desktop.show.in-view>*:nth-child(1) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.desktop.show.in-view>*:nth-child(0) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.desktop.show.in-view>.wrapper{
	z-index:-1;
}
header.global.mobile {
	display:none;
}
header.global.mobile.show {
	display:block;
	opacity:0;
}
header.global.mobile.show.in-view {
	opacity:1;
}
header.global.desktop {
	position:fixed;
	top:0;
	z-index:99;
	height:0px;
	-webkit-transition:background 0.5s 0.7s, height 0.5s 0.7s;
	-moz-transition:background 0.5s 0.7s, height 0.5s 0.7s;
	transition:background 0.5s 0.7s, height 0.5s 0.7s;
}
header.global.desktop>.wrapper {
	height:100%; text-align:center;

}
header.global.desktop>.wrapper>nav { top:-75px; position:absolute;}
header.global.desktop.active>.wrapper>nav { top:0; position:inherit;}
header.global.desktop.out>.wrapper>nav { top:0; position:inherit;}
header.global.desktop>.wrapper>nav li a {
	color:#dedede;
	font-size:inherit;
}
header.global.desktop>.wrapper>nav li a:hover {
	color:#fff;
}
header.global.desktop h2 {
	text-indent:-9999em;
	display:inline-block;
}

header.global.desktop a.logo:hover:after {
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
header.global.desktop span.toggle {
	vertical-align:middle;
	opacity:1;
	z-index:1;
	-webkit-transition:top 0.2s;
	-moz-transition:top 0.2s;
	transition:top 0.2s;
}
header.global.desktop span.toggle em {
	color:#fff;
}
header.global.desktop .logo-white {
	height:46px;
	overflow:hidden;
	opacity:1;
	z-index:2;
	-webkit-transition:height 0.2s, color 0.5s;
	-moz-transition:height 0.2s, color 0.5s;
	transition:height 0.2s, color 0.5s;
}

header.global.desktop.active {
	background:rgba(0, 0, 0, 0.9) !important;
	color:#373b37;
	height:75px;
	-webkit-transition:background 0.5s, height 0.2s;
	-moz-transition:background 0.5s, height 0.2s;
	transition:background 0.5s, height 0.2s;
}
header.global.sticky {
	background:rgba(0, 0, 0, 0.9) !important;
	color:#373b37;
	height:75px;
	-webkit-transition:background 0.5s, height 0.2s;
	-moz-transition:background 0.5s, height 0.2s;
	transition:background 0.5s, height 0.2s;
}

header.global.desktop.active .logo-white {
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
header.global.desktop.active .logo-white .fg, header.global.desktop.active .logo-white .bg {
	color:#ff5000!important;
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
header.global.desktop.active span.toggle em {
	background:#fff!important;
	left:0px;
	opacity:0;
	-webkit-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -webkit-transform 0.2s 0.25s;
	-moz-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -webkit-transform 0.2s 0.25s;
	transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -webkit-transform 0.2s 0.25s;
	-webkit-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -moz-transform 0.2s 0.25s;
	-moz-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -moz-transform 0.2s 0.25s;
	transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -moz-transform 0.2s 0.25s;
	-webkit-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, transform 0.2s 0.25s;
	-moz-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, transform 0.2s 0.25s;
	transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, transform 0.2s 0.25s;
}
header.global.desktop.active span:hover em {background:#fff!important;}
header.global.desktop.active span.toggle em:first-child {
	left:0px;
	opacity:1;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
header.global.desktop.active span.toggle em:last-child {
	left:0px;
	opacity:1;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
header.global.desktop.small.active {
	height:50px;
}
header.global.desktop.small nav li, header.global.desktop.small.active nav li {
	line-height:50px;
	height:50px;
}
header.global.desktop.small .logo-white, header.global.desktop.small.active .logo-white {
	height:30px;
	line-height:50px;
	overflow:hidden;
}
header.global.desktop.small .logo-white span, header.global.desktop.small.active .logo-white span {
	height:50px;
	line-height:50px;
}
header.global.desktop.small .logo-white:after, header.global.desktop.small.active .logo-white:after {
	margin-top:-15px;
}
header.global.desktop.small span.toggle, header.global.desktop.small.active span.toggle {
	top:10px;
}
header.global.mobile {
	display:none;
	position:fixed;
	top:0;
	z-index:1000;
	width:100%;
	-webkit-transition:background 0.5s 0.7s, height 0.5s 0.7s;
	-moz-transition:background 0.5s 0.7s, height 0.5s 0.7s;
	transition:background 0.5s 0.7s, height 0.5s 0.7s;
}
header.global.mobile>div {
	position:relative;
	z-index:100;
}
header.global.mobile.show {
	display:block;
}
header.global.mobile.small.active {
	height:50px;
}
header.global.mobile.small .logo-white, header.global.mobile.small.active .logo-white {
	height:50px;
	overflow:hidden;
}
header.global.mobile.small .logo-white span, header.global.mobile.small.active .logo-white span {
	height:50px;
	line-height:50px;
}
header.global.mobile.small span.toggle, header.global.mobile.small.active span.toggle {
	top:10px;
}

header.global.mobile a.logo:hover:after {
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
header.global.mobile span.toggle {
	vertical-align:middle;
	opacity:1;
	z-index:10;
	-webkit-transition:top 0.2s;
	-moz-transition:top 0.2s;
	transition:top 0.2s;
}
header.global.mobile span.toggle em {
	color:black;
}
header.global.mobile nav {
	width:260px;
	left:-260px;
	background:rgba(0, 0, 0, 1);
	position:absolute;
	top:0;
	z-index:-1;
	padding-bottom:1000px;
	margin-bottom:-1000px;
	height:100%;
	-webkit-transition:left 0.5s 0.5s;
	-moz-transition:left 0.5s 0.5s;
	transition:left 0.5s 0.5s;
}
@media (min-width: 639px) {
header.global.mobile nav {
width:300px;
left:-300px;
}
}
header.global.mobile nav ul {
	margin:100px 0 0;
	z-index:2; list-style:none;
}
header.global.mobile nav ul li{ list-style:none; }

header.global.mobile h2 {
    color: #ff5000;
    float: left;
    font-family: "AkkoPro-Bold";
    font-size: 44px;
    left: 25px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-transform: lowercase;
    top: 14px;
    width: 106px;
}
header.global.mobile nav ul>li {
	margin-left:25px;
	margin-bottom:18px;
	position:relative;
	opacity:0;
	left:-15px;
	-webkit-transition:opacity 0.5s, left 0.5s;
	-moz-transition:opacity 0.5s, left 0.5s;
	transition:opacity 0.5s, left 0.5s;
}
@media (min-width: 639px) {
header.global.mobile nav ul>li {
margin-left:28px;
margin-bottom:25px;
}
}
header.global.mobile nav ul>li:nth-child(6) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.mobile nav ul>li:nth-child(5) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.mobile nav ul>li:nth-child(4) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.mobile nav ul>li:nth-child(3) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.mobile nav ul>li:nth-child(2) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.mobile nav ul>li:nth-child(1) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.mobile nav ul>li:nth-child(0) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.mobile nav ul>li.sub-nav {
	margin-left:45px;
}
@media (min-width: 639px) {
header.global.mobile nav ul>li.sub-nav {
margin-left:50px;
}
}
header.global.mobile nav ul>li.sub-nav a {
	color:#e3e3e3;
	font-size:12px;
}
header.global.mobile nav ul>li.sub-nav a:hover {
	color:#fff;
}
header.global.mobile nav ul>li strong {
	font-weight:400;
}
header.global.mobile nav ul>li a, header.global.mobile nav ul>li strong {
	color:#dedede;
	font-size:inherit;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:1.4px;
	padding:0;
}
header.global.mobile nav ul>li a:hover, header.global.mobile nav ul>li a.active, header.global.mobile nav ul>li strong:hover, header.global.mobile nav ul>li strong.active {
	color:#e3e3e3;
}
header.global.mobile nav ul>li a.active:hover, header.global.mobile nav ul>li strong.active:hover {
	color:#fff;
}
header.global.mobile nav ul.about ul>li:nth-child(11), header.global.mobile nav ul.news ul>li:nth-child(11) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.mobile nav ul.about ul>li:nth-child(10), header.global.mobile nav ul.news ul>li:nth-child(10) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.mobile nav ul.about ul>li:nth-child(9), header.global.mobile nav ul.news ul>li:nth-child(9) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.mobile nav ul.about ul>li:nth-child(8), header.global.mobile nav ul.news ul>li:nth-child(8) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.mobile nav ul.about ul>li:nth-child(7), header.global.mobile nav ul.news ul>li:nth-child(7) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.mobile nav ul.about ul>li:nth-child(6), header.global.mobile nav ul.news ul>li:nth-child(6) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.mobile nav ul.about ul>li:nth-child(5), header.global.mobile nav ul.news ul>li:nth-child(5) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.mobile nav ul.about ul>li:nth-child(4), header.global.mobile nav ul.news ul>li:nth-child(4) {
-webkit-transition-delay:0.7s;
-moz-transition-delay:0.7s;
transition-delay:0.7s;
}
header.global.mobile nav ul.about ul>li:nth-child(3), header.global.mobile nav ul.news ul>li:nth-child(3) {
-webkit-transition-delay:0.8s;
-moz-transition-delay:0.8s;
transition-delay:0.8s;
}
header.global.mobile nav ul.about ul>li:nth-child(2), header.global.mobile nav ul.news ul>li:nth-child(2) {
-webkit-transition-delay:0.9s;
-moz-transition-delay:0.9s;
transition-delay:0.9s;
}
header.global.mobile nav ul.about ul>li:nth-child(1), header.global.mobile nav ul.news ul>li:nth-child(1) {
-webkit-transition-delay:1s;
-moz-transition-delay:1s;
transition-delay:1s;
}
header.global.mobile nav ul.about ul>li:nth-child(0), header.global.mobile nav ul.news ul>li:nth-child(0) {
-webkit-transition-delay:1.1s;
-moz-transition-delay:1.1s;
transition-delay:1.1s;
}
header.global.mobile nav ul.work ul>li:nth-child(12), header.global.mobile nav ul.contact ul>li:nth-child(12) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.mobile nav ul.work ul>li:nth-child(11), header.global.mobile nav ul.contact ul>li:nth-child(11) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.mobile nav ul.work ul>li:nth-child(10), header.global.mobile nav ul.contact ul>li:nth-child(10) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.mobile nav ul.work ul>li:nth-child(9), header.global.mobile nav ul.contact ul>li:nth-child(9) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.mobile nav ul.work ul>li:nth-child(8), header.global.mobile nav ul.contact ul>li:nth-child(8) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.mobile nav ul.work ul>li:nth-child(7), header.global.mobile nav ul.contact ul>li:nth-child(7) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.mobile nav ul.work ul>li:nth-child(6), header.global.mobile nav ul.contact ul>li:nth-child(6) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.mobile nav ul.work ul>li:nth-child(5), header.global.mobile nav ul.contact ul>li:nth-child(5) {
-webkit-transition-delay:0.7s;
-moz-transition-delay:0.7s;
transition-delay:0.7s;
}
header.global.mobile nav ul.work ul>li:nth-child(4), header.global.mobile nav ul.contact ul>li:nth-child(4) {
-webkit-transition-delay:0.8s;
-moz-transition-delay:0.8s;
transition-delay:0.8s;
}
header.global.mobile nav ul.work ul>li:nth-child(3), header.global.mobile nav ul.contact ul>li:nth-child(3) {
-webkit-transition-delay:0.9s;
-moz-transition-delay:0.9s;
transition-delay:0.9s;
}
header.global.mobile nav ul.work ul>li:nth-child(2), header.global.mobile nav ul.contact ul>li:nth-child(2) {
-webkit-transition-delay:1s;
-moz-transition-delay:1s;
transition-delay:1s;
}
header.global.mobile nav ul.work ul>li:nth-child(1), header.global.mobile nav ul.contact ul>li:nth-child(1) {
-webkit-transition-delay:1.1s;
-moz-transition-delay:1.1s;
transition-delay:1.1s;
}
header.global.mobile nav ul.work ul>li:nth-child(0), header.global.mobile nav ul.contact ul>li:nth-child(0) {
-webkit-transition-delay:1.2s;
-moz-transition-delay:1.2s;
transition-delay:1.2s;
}
header.global.mobile.active nav {
	left:0px;
	-webkit-transition:left 0.5s;
	-moz-transition:left 0.5s;
	transition:left 0.5s;
}

header.global.mobile.active nav ul>li {
	opacity:1;
	left:0;
}
header.global.mobile.active nav ul>li:nth-child(0) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.mobile.active nav ul>li:nth-child(1) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.mobile.active nav ul>li:nth-child(2) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.mobile.active nav ul>li:nth-child(3) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.mobile.active nav ul>li:nth-child(4) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.mobile.active nav ul>li:nth-child(5) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.mobile.active nav ul>li:nth-child(6) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.mobile.active nav ul.about>li:nth-child(0), header.global.mobile.active nav ul.news>li:nth-child(0) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.mobile.active nav ul.about>li:nth-child(1), header.global.mobile.active nav ul.news>li:nth-child(1) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.mobile.active nav ul.about>li:nth-child(2), header.global.mobile.active nav ul.news>li:nth-child(2) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.mobile.active nav ul.about>li:nth-child(3), header.global.mobile.active nav ul.news>li:nth-child(3) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.mobile.active nav ul.about>li:nth-child(4), header.global.mobile.active nav ul.news>li:nth-child(4) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.mobile.active nav ul.about>li:nth-child(5), header.global.mobile.active nav ul.news>li:nth-child(5) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.mobile.active nav ul.about>li:nth-child(6), header.global.mobile.active nav ul.news>li:nth-child(6) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.mobile.active nav ul.about>li:nth-child(7), header.global.mobile.active nav ul.news>li:nth-child(7) {
-webkit-transition-delay:0.7s;
-moz-transition-delay:0.7s;
transition-delay:0.7s;
}
header.global.mobile.active nav ul.about>li:nth-child(8), header.global.mobile.active nav ul.news>li:nth-child(8) {
-webkit-transition-delay:0.8s;
-moz-transition-delay:0.8s;
transition-delay:0.8s;
}
header.global.mobile.active nav ul.about>li:nth-child(9), header.global.mobile.active nav ul.news>li:nth-child(9) {
-webkit-transition-delay:0.9s;
-moz-transition-delay:0.9s;
transition-delay:0.9s;
}
header.global.mobile.active nav ul.about>li:nth-child(10), header.global.mobile.active nav ul.news>li:nth-child(10) {
-webkit-transition-delay:1s;
-moz-transition-delay:1s;
transition-delay:1s;
}
header.global.mobile.active nav ul.about>li:nth-child(11), header.global.mobile.active nav ul.news>li:nth-child(11) {
-webkit-transition-delay:1.1s;
-moz-transition-delay:1.1s;
transition-delay:1.1s;
}
header.global.mobile.active nav ul.work>li:nth-child(0), header.global.mobile.active nav ul.contact>li:nth-child(0) {
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
transition-delay:0s;
}
header.global.mobile.active nav ul.work>li:nth-child(1), header.global.mobile.active nav ul.contact>li:nth-child(1) {
-webkit-transition-delay:0.1s;
-moz-transition-delay:0.1s;
transition-delay:0.1s;
}
header.global.mobile.active nav ul.work>li:nth-child(2), header.global.mobile.active nav ul.contact>li:nth-child(2) {
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
transition-delay:0.2s;
}
header.global.mobile.active nav ul.work>li:nth-child(3), header.global.mobile.active nav ul.contact>li:nth-child(3) {
-webkit-transition-delay:0.3s;
-moz-transition-delay:0.3s;
transition-delay:0.3s;
}
header.global.mobile.active nav ul.work>li:nth-child(4), header.global.mobile.active nav ul.contact>li:nth-child(4) {
-webkit-transition-delay:0.4s;
-moz-transition-delay:0.4s;
transition-delay:0.4s;
}
header.global.mobile.active nav ul.work>li:nth-child(5), header.global.mobile.active nav ul.contact>li:nth-child(5) {
-webkit-transition-delay:0.5s;
-moz-transition-delay:0.5s;
transition-delay:0.5s;
}
header.global.mobile.active nav ul.work>li:nth-child(6), header.global.mobile.active nav ul.contact>li:nth-child(6) {
-webkit-transition-delay:0.6s;
-moz-transition-delay:0.6s;
transition-delay:0.6s;
}
header.global.mobile.active nav ul.work>li:nth-child(7), header.global.mobile.active nav ul.contact>li:nth-child(7) {
-webkit-transition-delay:0.7s;
-moz-transition-delay:0.7s;
transition-delay:0.7s;
}
header.global.mobile.active nav ul.work>li:nth-child(8), header.global.mobile.active nav ul.contact>li:nth-child(8) {
-webkit-transition-delay:0.8s;
-moz-transition-delay:0.8s;
transition-delay:0.8s;
}
header.global.mobile.active nav ul.work>li:nth-child(9), header.global.mobile.active nav ul.contact>li:nth-child(9) {
-webkit-transition-delay:0.9s;
-moz-transition-delay:0.9s;
transition-delay:0.9s;
}
header.global.mobile.active nav ul.work>li:nth-child(10), header.global.mobile.active nav ul.contact>li:nth-child(10) {
-webkit-transition-delay:1s;
-moz-transition-delay:1s;
transition-delay:1s;
}
header.global.mobile.active nav ul.work>li:nth-child(11), header.global.mobile.active nav ul.contact>li:nth-child(11) {
-webkit-transition-delay:1.1s;
-moz-transition-delay:1.1s;
transition-delay:1.1s;
}
header.global.mobile.active nav ul.work>li:nth-child(12), header.global.mobile.active nav ul.contact>li:nth-child(12) {
-webkit-transition-delay:1.2s;
-moz-transition-delay:1.2s;
transition-delay:1.2s;
}
header.global.mobile.active .logo-white {
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
header.global.mobile.active .logo-white .fg:after, header.global.mobile.active .logo-white .bg:after {
	color:#fff!important;
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s;
}
header.global.mobile.active span.toggle em {
	left:0px;
	opacity:0;
	-webkit-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -webkit-transform 0.2s 0.25s;
	-moz-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -webkit-transform 0.2s 0.25s;
	transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -webkit-transform 0.2s 0.25s;
	-webkit-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -moz-transform 0.2s 0.25s;
	-moz-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -moz-transform 0.2s 0.25s;
	transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, -moz-transform 0.2s 0.25s;
	-webkit-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, transform 0.2s 0.25s;
	-moz-transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, transform 0.2s 0.25s;
	transition:background 0.2s, top 0.2s, left 0.2s, opacity 0.2s, transform 0.2s 0.25s;
}
header.global.mobile.active span.toggle em:first-child {
	left:0px;
	opacity:1;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
header.global.mobile.active span.toggle em:last-child {
	left:0px;
	opacity:1;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
html body header.global.desktop>.wrapper nav ul li a {
	color:#fff;
}
html body header.global.desktop>.wrapper nav ul:hover li a {
	color:#969696;
}
html body header.global.desktop>.wrapper nav ul:hover li:hover a {
	color:#fff;
}
html header.global.out .logo-white .fg:after, html header.global.out .logo-white .bg:after, body header.global.out .logo-white .fg:after, body header.global.out .logo-white .bg:after {
	-webkit-transition:color 0.5s 0.6s;
	-moz-transition:color 0.5s 0.6s;
	transition:color 0.5s 0.6s;
}
html header.global.out span.toggle span.fg em, html header.global.out span.toggle span.bg em, body header.global.out span.toggle span.fg em, body header.global.out span.toggle span.bg em {
	-webkit-transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s;
	-moz-transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s;
	transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -webkit-transform 0.2s 0s;
	-webkit-transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s;
	-moz-transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s;
	transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, -moz-transform 0.2s 0s;
	-webkit-transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s;
	-moz-transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s;
	transition:background 0.5s 0.6s, top 0.2s 0.25s, left 0.2s 0.25s, opacity 0.2s 0.25s, transform 0.2s 0s;
}


@media (min-width: 1139px) {
	header.global.desktop .logo-white { display:block;}
}
@media (max-width: 1139px) {
header.global.sticky { background:#000!important;}
header.global.mobile nav { padding-top:0;}


header.global.mobile .menu-top-menu-container { 
left:-300px;
height: 80%; 
margin-top:10%;
overflow: auto; top:0; 
padding-bottom: 0;
position: fixed;
width: 300px;
-webkit-transition:left 0.5s;
-moz-transition:left 0.5s;
transition:left 0.5s;

}

header.global.mobile.active .menu-top-menu-container { 
left:0;

}

header.global.mobile.out .menu-top-menu-container { 
overflow: hidden;


}


header.global.mobile nav ul { margin:0;}
header.global.mobile nav ul > li {margin:0; padding:0; border-bottom:1px solid #2a2a2a;}
header.global.mobile nav ul > li a{margin:0; padding:10px 28px;}

header.global .wrapper > nav ul > li.menu-item-has-children > ul { margin:0; display:block; padding:0 0 18px 0; position:relative; width:100%;box-shadow:inherit; background:none!important;}
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li { margin:0px; padding:0;}
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li a{ padding:6px 38px; line-height:24px; }
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li a:hover{ padding:6px 38px;   }
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li > ul{ width:100%; left:0;}
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li > ul li a{ padding:6px 10px 6px 52px; line-height:24px; }
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li > ul li a:hover{ padding:6px 10px 6px 52px; }

.menu-top-menu-container span.plus { 
    display: block;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 4px;
    width: 32px; cursor:pointer; text-align:center; 
}
.menu-top-menu-container span.plus:before {
  content: "\e912"; color:#e3e3e3; font-size:16px; line-height:32px; text-align:center; font-family: "icomoon" !important;
}
.menu-top-menu-container span.plus.active:before {
  content: ""; color:#e3e3e3; font-size:16px; line-height:32px; text-align:center; font-family: "icomoon" !important; width:16px; height:2px; background:#e3e3e3; float:left; margin:15px 0 0 8px;
}

header.global .wrapper > nav ul > li.menu-item-has-children > ul.sub-menu { display:none;}
header.global .wrapper > nav ul > li.menu-item-has-children > ul.sub-menu.active { display:block;}
header.global .wrapper > nav ul > li.menu-item-has-children > ul > li > a:hover { background:none;}

}
@media (max-width: 639px) {
header.global.mobile h2 {
	font-size: 36px;
    left: 14px;
    line-height: 36px;
    top: 6px;
}
header.global.mobile { height:52px;}
header.global.mobile .menu-top-menu-container { width:260px;left:-260px; }

}